#register-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 145, 0.925);
}

.to-log-reg-link {
    color: rgb(0,0,54);
    margin-left: .2rem;
    transition: .4s;
}

.to-log-reg-link:hover {
    color: rgba(3, 3, 115, 0.715);
}

