.iscomplete-icon{
    color: rgba(0,0,0,100,0.8);
}

.trash-icon {
    color: rgba(222, 1, 1, 0.596);
    transition: .4s;
}

.complete-icon {
    color: rgba(1, 204, 1, 0.589);
    transition: .4s;
}

.trash-icon:hover {
    color: rgb(255, 0, 0);;
}
.complete-icon:hover {
    color: rgb(1, 204, 1);
}
